numpy
scipy
pytorch==0.4.1
torchvision
opencv3
yacs
tqdm


# python -u test.py --imgs ./image/ --cfg config/ade20k-resnet50dilated-ppm_deepsup.yaml DIR ckpt/ade20k-resnet50dilated-ppm_deepsup/ TEST.result ./image/result TEST.checkpoint epoch_20.pth